<!DOCTYPE html>
<html>
    <head>
        <title>AlLPR Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>EdgeALPR Live Dashboard</h1>

        <div class="container">

            <div class="feed">

                <h2>Live Camera Feed</h2>

                <img class="live-feed" src="{{ url_for('video_feed') }}">

            </div>

            <div class="history">

                <h2>Detected Plates</h2>

                {% for d in detections %}

                <div class="card">
                    <img src="/{{ d.image }}">
                    <p>{{ d.text }}</p>
                </div>

                {% endfor %}

            </div>

        </div>

    </body>
</html>